<div class="container">
  <h2>User Settings</h2>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="mb-3">
      <label for="name">Name</label>
      <input id="name" name="name" class="form-control" placeholder="Name" [(ngModel)]="userSettings.name"
        (blur)="onBlur(nameField)" required #nameField="ngModel"
        [class.field-error]="form.submitted && nameField.invalid" />
      <div [hidden]="nameField.valid || !form.submitted" class=" mt-1 alert alert-danger">Enter a name</div>
    </div>
    <pre class="card card-block card-header">{{singleModel}}</pre>
    <button type="button" class="btn btn-primary" name="singleModel" [(ngModel)]="singleModel" btnCheckbox
      btnCheckboxTrue="On" btnCheckboxFalse="Off">
      Single Toggle
    </button>
    <div class="form-check mb-3">
      <input type="checkbox" class="form-check-input" id="emailOffers" name="emailOffers"
        [(ngModel)]="userSettings.emailOffers">
      <label for="emailOffers" class="form-check-label">Email Special Offers</label>
    </div>
    <div class="row">
      <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
        <input type="text" placeholder="Start Date" class="form-control" bsDatepicker>
      </div>
    </div>

    <div class="mb-3">
      <p>User Interface Style</p>
    </div>
    <div class="btn-group">
      <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle" name="interfaceStyle" btnRadio="Light" tabindex="0"
        role="button">Light</label>
      <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle" name="interfaceStyle" btnRadio="Medium" tabindex="0"
        role="button">Medium</label>
      <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle" name="interfaceStyle" btnRadio="Dark" tabindex="0"
        role="button">Dark</label>
    </div>
    <div class="mb-3">
      <label for="subscriptionType">Subscription Type</label>
      <select class="form-control" id="subsciptionType" name="subscriptionType"
        [(ngModel)]="userSettings.subscriptionType">
        <option *ngFor="let type of subscriptionTypes | async">{{type}}</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="notes">Notes</label>
      <textarea name="notes" id="notes" cols="30" rows="3" class="form-control"
        [(ngModel)]="userSettings.notes"></textarea>
    </div>
    <div [hidden]="!postError" class="alert alert-danger mx-1">{{postErrorMessage}}</div>
    <button class="btn btn-primary">Send</button>
  </form>
</div>
{{userSettings | json}}
